/* phải có cái này mới đúng: box-sizing: border-box */
.grid {
    width: 100%;
    display: block;
    padding: 0;
}

/* Nếu không ko có wide thì sẽ là full màn hình */
.wide {
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



@media (max-width: 63.9375em) {
    
    .sm-pt-12 {
        padding-top: 12px;
    }

    .sm-pt-16 {
        padding-top: 16px;
    }

    .sm-pt-24 {
        padding-top: 24px;
    }

    .sm-pt-28 {
        padding-top: 28px;
    }

    .sm-pb-12 {
        padding-bottom: 12px ;   
    }
    
    .sm-pb-16 {
        padding-bottom: 16px;
    }
    
    .sm-pb-24 {
        padding-bottom: 24px;
    }
    
    .sm-pb-28 {
        padding-bottom: 28px;
    }

    .sm-pl-12 {
        padding-left: 12px;
    }

    .sm-pl-16 {
        padding-left: 16px;
    }

    .sm-pl-24 {
        padding-left: 24px;
    }

    .sm-pl-28 {
        padding-left: 28px;
    }

    .sm-pr-12 {
        padding-right: 12px;
    }

    .sm-pr-16 {
        padding-right: 16px;
    }

    .sm-pr-24 {
        padding-right: 24px;
    }

    .sm-pr-28 {
        padding-right: 28px;
    }


    .sm-mt-12 {
        margin-top: 12px;
    }

    .sm-mt-16 {
        margin-top: 16px;
    }

    .sm-mt-24 {
        margin-top: 24px;
    }

    .sm-mt-28 {
        margin-top: 28px;
    }

    .sm-mb-12 {
        margin-bottom: 12px ;   
    }
    
    .sm-mb-16 {
        margin-bottom: 16px;
    }
    
    .sm-mb-24 {
        margin-bottom: 24px;
    }
    
    .sm-mb-28 {
        margin-bottom: 28px;
    }

    .sm-ml-12 {
        margin-left: 12px;
    }

    .sm-ml-16 {
        margin-left: 16px;
    }

    .sm-ml-24 {
        margin-left: 24px;
    }

    .sm-ml-28 {
        margin-left: 28px;
    }

    .sm-mr-12 {
        margin-right: 12px;
    }

    .sm-mr-16 {
        margin-right: 16px;
    }

    .sm-mr-24 {
        margin-right: 24px;
    }

    .sm-mr-28 {
        margin-right: 28px;
    }

}

/* mobile */
@media (max-width: 46.1875em) {
        
    .row {
        margin-left: -4px;
        margin-right: -4px;
    }

    .row.no-gutters {
        margin-left: 0;
        margin-right: 0;
    }

    .col {
        padding-left: 4px;
        padding-right: 4px;
    }

    .row.no-gutters .col{
        padding-left: 0;
        padding-right: 0;
    }

    .c-0 {
        display: none;
    }

    .c-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .c-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .c-2-4{
        flex: 0 0 20%;
        max-width: 20%;
    }

    .c-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .c-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .c-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .c-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .c-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .c-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .c-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .c-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .c-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .c-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* col offset */

    .c-o-1 {
        margin-left: 8.33333%;
    }

    .c-o-2 {
        margin-left: 16.66667%;
    }

    .c-o-3 {
        margin-left: 25%;
    }

    .c-o-4 {
        margin-left: 33.33333%;
    }

    .c-o-5 {
        margin-left: 41.66667%;
    }

    .c-o-6 {
        margin-left: 50%;
    }

    .c-o-7 {
        margin-left: 58.33333%;
    }

    .c-o-8 {
        margin-left: 66.66667%;
    }

    .c-o-9 {
        margin-left: 75%;
    }

    .c-o-10 {
        margin-left: 83.33333%;
    }

    .c-o-11 {
        margin-left: 91.66667%;
    }
    }

/* table */
@media (min-width:46.25em) and (max-width:63.9375em) {
    /* .wide {
        max-width: 644px;
    } */

    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .row.no-gutters {
        margin-left: 0;
        margin-right: 0;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .row.no-gutters .col{
        padding-left: 0;
        padding-right: 0;
    }

    

    .m-1,
    .m-2,
    .m-2-4,
    .m-3,
    .m-4,
    .m-5,
    .m-6,
    .m-7,
    .m-8,
    .m-9,
    .m-10,
    .m-11,
    .m-12 {
        display: block;
    }

    .m-0 {
        display: none;
    }
    
    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    
    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .m-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    
    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    
    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    
    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    
    .m-o-1 {
        margin-left: 8.33333%;
    }

    .m-o-2 {
        margin-left: 16.66667%;
    }

    .m-o-3 {
        margin-left: 25%;
    }

    .m-o-4 {
        margin-left: 33.33333%;
    }

    .m-o-5 {
        margin-left: 41.66667%;
    }

    .m-o-6 {
        margin-left: 50%;
    }

    .m-o-7 {
        margin-left: 58.33333%;
    }

    .m-o-8 {
        margin-left: 66.66667%;
    }

    .m-o-9 {
        margin-left: 75%;
    }

    .m-o-10 {
        margin-left: 83.33333%;
    }

    .m-o-11 {
        margin-left: 91.66667%;
    }
    }

/*  PC */
@media (min-width: 64em) {
    .wide {
        max-width: 1200px;
    }

    .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .row.no-gutters {
        margin-left: 0;
        margin-right: 0;
    }

    .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .no-gutters .col {
        padding-left: 0;
        padding-right: 0;
    }

    .l-1,
    .l-2,
    .l-2-4,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11,
    .l-12 {
        display: block;
    }

    .l-0 {
        display: none;
    }
    
    .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    
    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    
    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    
    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    
    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

        
    .l-o-1 {
        margin-left: 8.33333%;
    }

    .l-o-2 {
        margin-left: 16.66667%;
    }

    .l-o-3 {
        margin-left: 25%;
    }

    .l-o-4 {
        margin-left: 33.33333%;
    }

    .l-o-5 {
        margin-left: 41.66667%;
    }

    .l-o-6 {
        margin-left: 50%;
    }

    .l-o-7 {
        margin-left: 58.33333%;
    }

    .l-o-8 {
        margin-left: 66.66667%;
    }

    .l-o-9 {
        margin-left: 75%;
    }

    .l-o-10 {
        margin-left: 83.33333%;
    }

    .l-o-11 {
        margin-left: 91.66667%;
    }

}

